<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Avatar</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>
                <img src="src/resources/themes/default/images/{{user.avatar}}" style="max-width: 50px;" alt=""></td>
            <td>
                <a href="#" onclick="return false;" (click)="showUserSummary(user)">Preview</a>
            </td>
        </tr>
    </tbody>
</table>